---
http_interactions:
- request:
    method: get
    uri: http://cookbooks.opscode.com/api/v1/cookbooks/mysql
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - ! '"1379d0fdf0632ffd7d4488ae01199dd3"'
    body:
      encoding: US-ASCII
      string: ! '{"description":"Installs and configures mysql for client or server","created_at":"2009-10-28T19:16:54Z","average_rating":4.33333,"versions":["http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/3_0_0","http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/2_1_2","http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/2_1_0","http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/2_0_2","http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/2_0_0","http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/1_3_0","http://cookbooks.opscode.com/api/v1/cookbooks/mysql/versions/1_2_6","http://cookbook[...]
