---
http_interactions:
- request:
    method: get
    uri: https://supermarket.getchef.com/api/v1/cookbooks/mysql
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"name":"mysql","maintainer":"chef","description":"Provides mysql_service
        and mysql_client resources","category":"Databases","latest_version":"https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.3.6","external_url":"http://github.com/opscode-cookbooks/mysql","average_rating":null,"created_at":"2009-10-28T19:16:54.000Z","updated_at":"2014-07-30T19:31:16.550Z","deprecated":false,"versions":["https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.3.6","https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.3.4","https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.3.2","https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.3.0","https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.2.12","https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/5.2.10","https://supermarket.getchef.com/api/v1/cookbooks/mysql/versions/[...]
